@import 'leaflet/dist/leaflet.css';

.mapContainer {
  height: calc(100vh - 64px);
  width: 100%;
  z-index: 1;
}

/* Responsive breakpoints */
@media (max-width: 640px) {
  .mapContainer {
    height: calc(100vh - 64px);
  }
}

@media (min-width: 641px) {
  .mapContainer {
    height: calc(100vh - 64px);
  }
} 